.addSee{
    border-radius: 10px;
    font-size: small;
    background-color: red;
    padding: 0;
  position: relative;
  top: -15px;
  left: -27px;
  }
  .titleCard{
   position: relative;
   top: -5px;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 15px;
 }
  
  .styleCards:hover .addSee{
  opacity: 1;
  }
  .styleCards:hover{
    background-color: #130f25;
    border: solid 3px rgb(34, 34, 53) ;
    margin: 7px;
   
  }
  .styleCards{
  width: 200px;
  margin: 5px;
  color: #e5e5e5;
  border: solid 1px rgb(34, 34, 53);
  background-color: #0c1322;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  
  }

  .imgCards{
  margin-top: 0;
  border-radius: 10px;
   padding: 0;
   cursor: pointer;
  

  }
  .styleCards:hover .imgvideo{
    opacity: 1;
    }
.imgvideo{
  position: absolute;
  border-radius: 15px;
  top:120px;
  left: 70px;
  width: 60px;
  opacity: 0;
}
  .TextCard{
    text-align: center;
    font-size: 17px;
   padding-bottom: 3px;
  
  
  }
  .butonComent{
    text-align:center; 
    font-size: 13px;
    margin-bottom: 5px;
  }
  @media(max-width:952px) {
    .styleCards{

      margin: 5px;
     
      }

    .TextCard{
      font-size: 10px;
    }
    .title{
      font-size: 12px;
    }
    .fecha{
      font-size: 8px;
    }
    .butonComent{
    font-size: 10px;
    }
  }
  