.addSee{
    border-radius: 10px;
    font-size: small;
    background-color: red;
   opacity: 0;
  }
  .titleCard{font-size: 18px;}
  
  .styleCards:hover .addSee{
  opacity: 1;
  }
  .styleCards:hover{
    background-color: #130f25;
    border: solid 3px rgb(34, 34, 53) ;
    margin: 7px;
   
  }
  .styleCards{
  width: 20%;
  margin: 5px;
  color: #e5e5e5;
  border: solid 1px rgb(34, 34, 53);
  background-color: #0c1322;
  border-radius: 5px;
  padding: 1%;
  }

  .imgCards{
    height: 300px;
    margin-top: 0;
   padding: 0;
   cursor: pointer;
  }
  .TextCard{
    margin-left:10% ;
    font-size: 20px;
   
  }
  .butonComent{
    text-align:center; 
    margin-top: 5px ;
    font-size: 13px
  }
  @media(max-width:952px) {
    .styleCards{
      width: 40%;
      margin: 5px;
     
      }

    .TextCard{
      font-size: 10px;
    }
    .title{
      font-size: 12px;
    }
    .fecha{
      font-size: 8px;
    }
    .butonComent{
    font-size: 10px;
    }
  }
  