.bodyPage {
    background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1150&q=80");
    background-color: #080710;
    background-repeat: no-repeat;
    background-size:cover ;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
  
  .inFormBackground {
    margin: 0rem 2rem;
  }
  .inFormBackground,
  .inLoginForm {
    width: 25rem;
    height: 30rem;
    max-width: 320px;
    position: relative;
  }
  .circle {
    width: 10rem;
    height: 10rem;
    position: absolute;
    border-radius: 50%;
  }
  .circle:first-child {
    left: -20%;
    top: -30%;
    background: linear-gradient(#ff0060, #c302b5);
  }
  .circle:nth-child(2) {
    right: -22%;
    bottom: -14%;
    background: linear-gradient(164deg, #144e7cfc, #1877f2);
  }
  .inLoginForm form {
    top: 40%;
    left: 50%;
    width: 40rem;
    height: 33rem;
    max-width: 320px;
    position: absolute;
    padding: 50px 35px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
  }
  form * {
    border: none;
    outline: none;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;
  }
  .title {
    font-size: 32px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
  .inputGroup label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .inputGroup input {
    width: 92%;
    height: 50px;
    display: block;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.07);
  }
  ::placeholder {
    color: #e5e5e5;
  }
  p{font-size: 10px;}
  
  .submitForm {
    width: 100%;
    z-index: 1;
    margin-top: 10px;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(45deg, 
    red , blue, deeppink , blue,
    red , blue , deeppink);
  background-size: 800%;
  }
  
  
  
  .submitForm:hover {
    color: #fff; /* color de fuente hover */
  }
  .submitForm:after {
    content: "";
    background:rgba(8, 7, 16, 0.6); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .submitForm:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .social {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .social div {
    width: 3rem;
    height: 3rem;
    display: flex;
    cursor: pointer;
    color: #eaf0fb;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.27);
  }
  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }
  .social .fb {
    margin-left: 25px;
  }
  .social .tw {
    margin-left: 25px;
  }
  