body{
    background-color: black;
}
.imgNavbar{

    width: 90px;
    border-radius: 30%;
    border: solid 1px red;
}
  .letterIcon {
    color: #fff;
   font-family: "Poppins", sans-serif;;
   font-size:  40px;   
  
  }
  a{
 text-decoration: none;
 color: white
  }
  nav{
    border-bottom: solid 1px red;
    background-color: rgba(6, 6, 14, 0.932);
  
  
  }
  #imgSeach{
    border-radius: 10px;
    width: 30px;
  }
  input{
   border-radius: 5px;
  }

  .search{
    margin: 10px;
    width: 100%;

  }

input[type = "radio"]{
  display: none;
}
.start{
  cursor: pointer;
  transition: color 200ms
}

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  


.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position:center;

  display: flex;
  align-items: flex-end;
}



.boton{
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor{
  width: 100%;
  height: 600px;
}



/*********************************************/

.bodyPage {
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

}

.inFormBackground {
  margin: 0rem 2rem;
}

.inFormBackground,
.inLoginForm {
  width: 25rem;
  height: 30rem;
  max-width: 320px;
  position: relative;
}

.circle {
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle:first-child {
  left: -20%;
  top: -12%;
  background: linear-gradient(#ff0060, #c302b5);
}

.circle:nth-child(2) {
  right: -22%;
  bottom: -14%;
  background: linear-gradient(164deg, #144e7cfc, #1877f2);
}

.inLoginForm form {
  top: 50%;
  left: 50%;
  width: 150rem;
  height: 30rem;
  max-width: 320px;
  position: absolute;
  padding: 50px 35px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.13);
}

.form * {
  color: #fff;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.inputGroup label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.inputGroup input {
  width: 92%;
  height: 40px;
  display: block;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
}

::placeholder {
  color: #e5e5e5;
}

.submitForm {
  width: 100%;
  z-index: 1;
  margin-top: 40px;
  color: #080710;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(45deg, 
  red , blue, deeppink , blue,
  red , blue , deeppink);
background-size: 800%;
}

.submitForm:hover {
  color: #fff; /* color de fuente hover */
}
.submitForm:after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.submitForm:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.create{
  margin: 10px;
  font-size: 10px;
}
