.imgNavbar{

    width: 60px;
    border-radius: 30%;
    border: solid 1px red;
   
}
a{
    text-decoration: none;
    color: white
     }
     
#check{
   display: none;
}
#btn-iconlist{
    background: rgb(54, 37, 151);
    border-radius: 3px;
    padding: 6px;

}
.iconSesion{
    width: 30px;
    margin-left: 20px;
    border-radius: 50%;
}

nav{
    border-bottom: solid 1px red;
    background-color: rgba(6, 6, 14, 0.932);
    padding-left: 2%;
     }
    
.logoWeb{width: 30%;}
.letterSesion{
    
    font-size: 10px;
    text-align: end;
    text-decoration: none;
}
.letterSesion:hover{
    font-weight: 800;
}
.LinkSesion:hover{
   
    font-size: 800;
}

.navMenu{
    width: 100%;
    display: flex;

}
.linkText{ color: white ; }
.linkText-p {
    margin-top: 10px;
}
.checkbtn{
    border-radius: 10%;
    display: none;
    cursor: pointer;
 
}
@media(max-width:952px) {
    .checkbtn{
        display: initial;
    }
    nav{
        padding: 20px 10%;
        border: 0;
    }
    .navMenu{
        position: absolute;
        top: 100%;
        left:0;
        right: 0;
        background-color:  rgba(6, 6, 14, 0.932);;
        width: 100%;
       justify-content: center;
        left: -100%;
        transition: all .5s;
        
    }
    
    .logoWeb{
        margin-left: 0;
        padding-left: 0;
        width: 100%;}
/*he probado hacerlo con css que cuando se apriete el botton se vuelva visible el menu y nada */
   #check:checked ~ .navMenu  {
       left: 0;
    }
   
}